@import "./variable.scss";
@import "./mixins.scss";
@import "./helper.scss";
@import "./fonts.scss";
@import "./chooseprofile.scss";
@import "./auth.scss";
@import "./layout.scss";
@import "./button.scss";
@import "./createprofile.scss";
@import "./createtrip.scss";
@import "./tripsdetail.scss";
@import "./expertlist.scss";
@import "./footer.scss";
@import "./reservation.scss";
@import "./tripslist.scss";
@import "./enthusist.scss";
@import "./home.scss";
@import "./expertprofile.scss";
@import "./learning.scss";
@import "./learninglist.scss";
@import "./workshopdetails.scss";
@import "~antd/dist/antd.css";
@import "./responsive.scss";
@import "./trips.scss";
@import "./albumtab.scss";
@import "./message.scss";

body {
  margin: 0;
  padding: 0 !important;
  line-height: 1.3 !important;
  font-family: "rubik-regular" !important;
}
