.reserve_mdl {
  width: 650px !important;
  border-radius: 20px;
  h4 {
    padding: 0px;
  }
  .ant-modal-content {
    border-radius: 20px;
  }
  .ant-modal-body {
    padding: 30px;
  }
  .sec_border {
    border-bottom: 1px solid #d3d3d3;
  }
  .reserve_frm_bg {
    label {
      color: #939393;
    }
    input {
      border-radius: 10px;
      height: 50px;
      width: 100%;
    }
    textarea {
      border-radius: 10px;
      width: 100%;
    }
  }
  .ant-calendar-picker {
    width: 100%;
  }
  .ant-select-selection--single {
    height: 45px;
    border-radius: 10px;
  }
  .ant-advanced-search-form  {
    .ant-form-item {

      margin-bottom: 5px;
    }
  }
}